* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}
body {
    background-color: #F1FFE7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #BAFF29;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3 {
   color: #C2E7DA;
   font-size: 14px;
   padding: 7px 0px;
   font-weight: normal;
   text-align: center;
   text-transform: uppercase;

}
.area {
    display: flex;
    width: 70%;
    height: 90%;
    justify-content:center;
    align-items: center;
}
.calculadora {
    width: 50%;
    height: 100%;
    background-color: #1A1B41;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resultado {
    width: 50%;
    height: 100%;   
    background-color: #6290C3;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #0be46655, #BAFF29 );
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1B41;
    text-transform: uppercase;
    font-size: 25px;
    flex-direction: column;
}
#resultado {
    display: none;
    padding: 40px;
    border-radius: 100%;
    color: #1A1B41;
    box-shadow: 1px 5px 10px #000;
    font-weight: 700;
    border: 1px solid #1A1B41;
    margin-bottom: 50px;
}
.calculadoraArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputNumber {
    padding: 4px 5px;
    border: none;
    background-color: #1A1B41;
    border-bottom: solid 1px #BAFF29;
    color: #BAFF29;
    margin-top: 5px;
}
label p {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 12px;
}
.inputNumber::placeholder {
    color: #BAFF29;
    font-size: 10px;
    font-weight: 300;
}
.inputNumber:focus {
    border: none;
    outline: none;
    border: solid 1px #BAFF29;
}

#quantidadeA {
    width: 87px;
    margin-top: 5px;
}
#enviar {
    margin-top: 15px;
    border: none;
    padding: 5px 22px;
    border-radius: 5px;
    background-color: #BAFF29;
    width: 80%;
    text-transform: uppercase;
    font-weight: 700;
}
#enviar:hover {
    background-color: #86c400;
}
.embabalagens {
    width: 100%;
}
.embalagemItem {
    display: flex;
    align-items: baseline;
}
.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 700;
}

p {
    font-size: 15px;
    text-transform: lowercase;
    text-align: center;
    margin-right: 5px;
}
.parede {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    color: #C2E7DA;
    box-shadow: 1px 1px 5px #000;
    padding: 5px;
    margin: 0;
}
label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3px;
    font-size: 15px;
}
#completo18 {
    display: none;

}
#completoGL {
    display: none;
}
#completoQuartinho {
    display: none;
}

@media (min-width: 300px) and (max-width: 800px) {
    .area {
        flex-direction: column;
        width: 100%;
    }
    .calculadora {
        width: 90%;
        height: 70%;
    }
    .resultado {
        width: 90%;
        height: 30%;
    }

    .resultado {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #resultado {
        text-align:center;
        padding: 20px;
        font-size: 20px;
    }
    #completo18 img {
        width: 60px;
    }
    p {
        font-size: 12px;
    }
}

